.jumbotron h1,
.jumbotron .h1 {
  padding-left: 30px;
}
.jumbotron p {
  padding-left: 30px;
}

.col-md-6 h1 {
  padding-left: 30px;
  vertical-align: middle;
}

#head {
  margin-top: 75px;
}

#about-head {
  background-color: lightcoral;
  height: 400px;
}

#about-likes {
  background-color: lightseagreen;
  height: 400px;
  text-align: right;
  padding-right: 50px;
}

#about-pictures {
  background-color: lightsteelblue;
  text-align: center;
}

#education {
  background-color: lightcoral;
  height: 150px;
}

#jobexperience {
  background-color: lightsteelblue;
  height: 150px
}

#whyprogramming {
  background-color: lightseagreen;
  height: 150px;
}
