.jumbotron h1,
.jumbotron .h1 {
  padding-left: 30px;
}
.jumbotron p {
  padding-left: 30px;
}

#image-margins {
  margin: 30px;

}

#home-content {
  height: 300px;
  vertical-align: middle;
  display: inline-block;
  padding: 30px;
  background-color: lightcoral;
}

#head {
  margin-top: 75px;
  margin-bottom: 30px;
}

#about-head {
  background-color: lightcoral;
  height: 400px;
}

#about-likes {
  background-color: lightseagreen;
  height: 400px;
  text-align: right;
  padding-right: 50px;
}

#about-pictures {
  background-color: lightsteelblue;
  text-align: center;
}

#education {
  background-color: lightcoral!important;
  height: 150px;
}

#jobexperience {
  background-color: lightsteelblue!important;
  height: 150px
}

#whyprogramming {
  background-color: lightseagreen!important;
  height: 150px;
}

.panel {
  background-color: white;
  border: 0;
}

.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 25px;
  color: black;
}


#project1 {
  background-color: lightcoral!important;
}

#project2 {
  background-color: lightsteelblue!important;
}

#project3 {
  background-color: lightseagreen!important;
}


.about-box {
  padding: 19px;
  margin-bottom: 20px;
  min-height: 400px;
  border: 0;
}

#about-head {
  background-color: lightcoral;
}

#about-body {
  font-size: 20px;
}

#float-pics {
  float: inherit;
}
