.jumbotron h1,
.jumbotron .h1 {
  padding-left: 30px;
}
.jumbotron p {
  padding-left: 30px;
}

.col-md-6 h1 {
  padding-left: 30px;
  vertical-align: middle;
}

#about {
  margin-top: 75px;
}

#about-head {
  background-color: lightcoral;
  height: 400px;
}

#about-more {
  background-color: lightseagreen;
  height: 400px;
}

#about-pictures {
  background-color: lightsteelblue;
  text-align: center;
}
